*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background-color: darkgoldenrod;
    height: 100vh;
}
input{
    border: 1px blue solid;
    background-color: gold;
    border-radius: 12px;
    padding: 10px 30px;
}
button{
    border: none;
    border-radius: 13px;
    padding: 15px 50px;
}